<ion-content no-bounce>

    <div class="main-content a1-fill-parent a1-relative">
        <div class="content-container a3-container a3-items-center a3-column">
            <div class="icon">
                <img src="./assets/imgs/icon-login.png">
            </div>
            <div class="content">
                <div class="title">{{mTexts.logIn | uppercase}}</div>
                <div class="info">
                    <input type="text" placeholder={{mTexts.username}} [(ngModel)]="mDatas.username">
                    <input type="password" placeholder={{mTexts.password}} [(ngModel)]="mDatas.password">
                </div>
                <div class="save-password a1-margin-bottom a3-container a3-items-center a3-justify-end" (click)="onClickSavePassword()">
                    <div class="save-checkbox">
                        <ion-icon *ngIf="mDatas.isSavingPassword" name="aw-done-check"></ion-icon>
                    </div>
                    <div class="text ">{{mTexts.savePassword}}</div>
                </div>
                <div class="blue-btn" style="margin-top: 24px" (click)="onClickLogin()">
                    <span>{{mTexts.logIn | uppercase}}</span>
                </div>
                <div class="white-btn a1-margin-top" (click)="onClickSignUp()">
                    <span>{{mTexts.signUp | uppercase}}</span>
                </div>
            </div>
        </div>
    </div>

</ion-content>

<aw-loading *ngIf="mDatas.onLoading"></aw-loading>